#============= adbd ==============
allow adbd anr_data_file:dir getattr;
allow adbd apk_data_file:dir getattr;
allow adbd apk_private_data_file:dir getattr;
allow adbd asec_image_file:dir getattr;
allow adbd auditd:dir { getattr search };
allow adbd auditd:file { read open };
allow adbd audit_log:dir { read getattr open search };
allow adbd audit_log:file { read getattr open };
allow adbd backup_data_file:dir getattr;
allow adbd bluetooth_data_file:dir getattr;
allow adbd bluetoothd_data_file:dir getattr;
allow adbd device:dir { read open };
allow adbd dbusd:dir { getattr search };
allow adbd dbusd:file { read open };
allow adbd debuggerd:dir { getattr search };
allow adbd debuggerd:file { read open };
allow adbd dhcp_data_file:dir getattr;
allow adbd drm_data_file:dir getattr;
allow adbd drmserver:dir { getattr search };
allow adbd drmserver:file { read open };
allow adbd init:dir { getattr search };
allow adbd init:file { read open };
allow adbd installd:dir { getattr search };
allow adbd installd:file { read open };
allow adbd kernel:dir { getattr search };
allow adbd kernel:file { read open };
allow adbd kernel:system syslog_read;
allow adbd keystore_data_file:dir getattr;
allow adbd keystore:dir { getattr search };
allow adbd keystore:file { read open };
allow adbd mediaserver:dir { getattr search };
allow adbd mediaserver:file { read open };
allow adbd netd:dir { getattr search };
allow adbd netd:file { read open };
allow adbd rild:dir { getattr search };
allow adbd rild:file { read open };
allow adbd rootfs:file { getattr open };
allow adbd self:capability sys_ptrace;
allow adbd servicemanager:dir { getattr search };
allow adbd servicemanager_exec:file getattr;
allow adbd servicemanager:file { read open };
allow adbd surfaceflinger:dir { getattr search };
allow adbd surfaceflinger:file { read open };
allow adbd system_data_file:dir { read open };
allow adbd system_data_file:lnk_file getattr;
allow adbd system_file:dir write;
allow adbd system_file:file write;
allow adbd systemkeys_data_file:dir getattr;
allow adbd tombstone_data_file:dir getattr;
allow adbd ueventd:dir { getattr search };
allow adbd ueventd:file { read open };
allow adbd unlabeled:dir getattr;
allow adbd unlabeled:dir { read write };
allow adbd unlabeled:dir search;
allow adbd unlabeled:file { read open };
allow adbd vold:dir { getattr search };
allow adbd vold:file { read open };
allow adbd vpn_data_file:dir getattr;
allow adbd wifi_data_file:dir getattr;
allow adbd zygote:dir { getattr search };
allow adbd zygote:file { read open };

